* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
