/* Theme Description :HTML/SCSS
Author : Hoang Long
Version : 1.0.0
*/
/* ================ TABLE OF CONTENT ==================
1, Header
2, Feature
3, Navigation
4, Slide Product
5, Catalog

*/
/* ============ 0, Setting =========== */
@import url(./mixin.scss);
.btn {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  transition: all 0.3s ease-in-out;
  color: #ffffff !important;
}

/* ============ 1,Header ===========*/
.header {
  background: #f46164;
  border-top: 2px solid #f46164;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__logo p a {
  color: white;
}
.header .container .header__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__menu ul li {
  padding: 10px;
  height: 40px;
}
.header .container .header__menu ul li a {
  color: white;
  padding: 20px;
}
.header .container .header__menu ul li a:hover {
  background: white;
  color: red;
}

/* ============ 2,Feature ===========*/
.feature {
  padding: 20px 0 20px 0;
}
.feature .container .feature__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .container .feature__content .feature__content-logo img {
  border: 0 none;
  width: 100px;
  vertical-align: middle;
  max-height: 100px;
  cursor: pointer;
}
.feature .container .feature__content .feature__content-search {
  display: flex;
  margin-right: 25px;
}
.feature .container .feature__content .feature__content-search input {
  width: 400px;
  border: 1px solid #dedede;
  border-radius: 0;
  color: #454545;
  height: 40px;
  padding: 5px;
}
.feature .container .feature__content .feature__content-search span .btn-search {
  background-color: #000;
  height: 40px;
  font-size: 14px;
  border: none;
}
.feature .container .feature__content .feature__content-search span .btn-search:hover {
  background-color: #f46164;
}

/* ============ 3,Navigation ===========*/
.navigation {
  background: #454545;
}
.navigation .container .navigation__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .container .navigation__menu ul li {
  text-align: center;
  padding: 20px;
}
.navigation .container .navigation__menu ul li a {
  padding: 20px;
  color: white;
  font-weight: 500;
}
.navigation .container .navigation__menu ul li a:hover {
  background: #f46164;
  transition: 0.3s all;
}

/* ============ 4,Slide Product ===========*/
.slider {
  height: 600px;
}

/* ============ 5,Catalog ===========*/
.catalog {
  margin-top: 20px;
}
.catalog .container .catalog__content {
  display: flex;
  flex-wrap: wrap;
}
.catalog .container .catalog__content .catalog__content-item {
  width: 33.333%;
  text-align: center;
  margin-bottom: 20px;
}
.catalog .container .catalog__content .catalog__content-item .item__img a img {
  max-height: 350px;
  width: 275px;
}
.catalog .container .catalog__content .catalog__content-item .item__info {
  margin-top: 10px;
}
.catalog .container .catalog__content .catalog__content-item .item__info .item__info-name {
  font-weight: 500;
  color: #000;
}
.catalog .container .catalog__content .catalog__content-item .item__info .item__info-name:hover {
  color: #f46164;
}
.catalog .container .catalog__content .catalog__content-item .item__info span {
  display: block;
  padding: 5px 0 15px 0;
  color: #f46164;
}
.catalog .container .catalog__content .catalog__content-item .item__info .btn-add {
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 4px;
  color: #f46164;
}
.catalog .container .catalog__content .catalog__content-item .item__info .btn-add:hover {
  color: #ffffff;
  background-color: #f46164;
  transition: 0.3s all;
}

/* ============ 6,Policy ===========*/
.policy {
  margin: 20px 0 30px 0;
}
.policy .container .policy__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.policy .container .policy__content .policy__content-item {
  display: flex;
  align-items: center;
  border: 1px #f46164 solid;
  color: white;
  font-size: 16px;
  background-color: #f46164;
  padding: 20px;
}
.policy .container .policy__content .policy__content-item i {
  font-size: 30px;
  margin-right: 5px;
}

/* ============ 7,Footer ===========*/
.footer {
  margin-top: 20px;
}
.footer .container .footer__content {
  display: flex;
  justify-content: space-between;
}
.footer .container .footer__content .footer__content-intro {
  width: 33.3333%;
}
.footer .container .footer__content .footer__content-intro h2 {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-intro ul li {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-intro ul li a {
  color: #000;
}
.footer .container .footer__content .footer__content-intro ul li a:hover {
  color: #f46164;
}
.footer .container .footer__content .footer__content-intro ul li i {
  margin-right: 5px;
}
.footer .container .footer__content .footer__content-help {
  width: 33.3333%;
}
.footer .container .footer__content .footer__content-help h2 {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-help ul li {
  margin-bottom: 20px;
}
.footer .container .footer__content .footer__content-help ul li i {
  margin-right: 5px;
}
.footer .container .footer__content .footer__content-social h2 {
  margin-bottom: 30px;
}
.footer .container .footer__content .footer__content-social ul {
  display: flex;
  align-items: center;
}
.footer .container .footer__content .footer__content-social ul li {
  display: block;
  margin-right: 10px;
}
.footer .container .footer__content .footer__content-social ul li a {
  border: 1px solid #f46164;
  border-radius: 4px;
  padding: 10px;
  background-color: #f46164;
}
.footer .container .footer__content .footer__content-social ul li a:hover {
  background-color: white;
  border: white 1px solid;
  transition: 0.3s all;
}
.footer .container .footer__content .footer__content-social ul li a:hover i {
  color: #f46164;
}
.footer .container .footer__content .footer__content-social ul li a i {
  color: white;
}

/*# sourceMappingURL=style.css.map */
